<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
      table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
      }

      td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
      }

      tr:nth-child(even) {
          background-color: #dddddd;
      }
    </style>
  </head>

  <body>

    <!-- <table style="width:50%">
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Complete</th>
      </tr>
      <tr>
        <td>Jill</td>
        <td>Smith</td>
        <td>50</td>
      </tr>
      <tr>
        <td>Eve</td>
        <td>Jackson</td>
        <td>94</td>
      </tr>
    </table>
    <div class="form-group" style="width:25%">
          <label for="input">Input:</label>
          <input type="text" name="input" class="form-control">
    </div>

    <button type="submit" class="btn btn-default">Submit</button> -->

    <table class="table table-bordered">
      <thead>
        <tr>
          <td>ID</td>
          <td>TITLE</td>
          <td>COMPLETED</td>
          <td>USER ID</td>
          <td>CREATE AT</td>
          <td>ACTION</td>
        </tr>
      </thead>
      <tbody>
        <% for (var i=0;i < todosdata.length; i++) {%>
          <tr>
            <td><%= todosdata[i].id %></td>
            <td><%= todosdata[i].title %></td>
            <td><%= todosdata[i].is_complete %></td>
            <td><%= todosdata[i].User.email %></td>
            <td><%= todosdata[i].createdAt %></td>
            <td><a href="/edit/<%= todosdata[i].id %>" class="btn btn-info">Update</a>&nbsp|&nbsp
              <a href="/delete/<%= todosdata[i].id %>"
                onclick="popup(<%= todosdata[i].id %>)" class="btn btn-danger">Delete</a></td>
          </tr>
        <% } %>
      </tbody>

    </table>

    <form action="/add" method="post">
      <div class="form-group">
        Title:<br>
        <input type="text" name="title" placeholder="title"><br>
      </div>
      <div class="form-group">
        Email:<br>
        <select class="" name="UserId">
          <% for (var i=0;i < users.length; i++) {%>
          <option value="<%= users[i].id %>"><%= users[i].email %></option>
          <% } %>
        </select>
      </div>
      <div class="form-group">
        IsComplete:<br>
        <input type="text" name="isComplete" placeholder="true or false"><br>
      </div>

      <input type="submit" value="Submit" class="btn btn-success">

    </form>

  </body>
</html>
