<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title></title>
  </head>
  <body>

    <div class="container">
      <h1><%= title %></h1>
      <br />
        <div class="row">
          <div class="col-md4">
            <table class="table table-hover">
              <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Created at</th>
                <th>Email</th>
                <th>Completed</th>
                <th>Update</th>
                <th>Delete</th>
              </tr>
              <% for(var i=0; i< todosdata.length; i++){ %>
              <tr>
                <td><%= todosdata[i].id %></td>
                <td><%= todosdata[i].title %></td>
                <td><%= todosdata[i].createdAt.toUTCString() %></td>
                <td><%= todosdata[i].User.email %></td>
                <td><%= todosdata[i].is_complete %></td>
                <td><a href="/edit/<%=todosdata[i].id%>"> Update </a></td>
                <td><a href="/delete/<%=todosdata[i].id%>"> Delete </a></td>
              </tr>
              <%}%>
            </table>
          </div>


          <div class="row">
            <form action="/" method="post">
                  <div class="col-sm-3">
                    <div class="form-group">
                      <input type="text" class="form-control" name="title" placeholder="Title">
                    </div>
                  </div>

                  <div class="col-sm-3">
                    <div class="form-group">
                      <input type="text" class="form-control" name="complete" placeholder="Complete Status">
                    </div>
                  </div>

                  <div class="col-sm-3">
                    <div class="dropdown">
                      <select type="text" class="btn btn-primary dropdown-toggle" name="UserId" placeholder="Email">
                        <% for (var i=0;i < users.length; i++) {%>
                          <option value="<%= users[i].id %>"><%= users[i].email %></option>
                        <% } %>
                      </select>
                    </div>
                  </div>

                  <div class="col-sm-3">
                    <button type="submit" value="Submit" class="btn btn-success">Submit</button>
                  </div>
            </form>
          </div>
        </div>
      </div>


  </body>
</html>
