<% include partials/header %>
    <table>
      <tr>
        <th>ID</th>
        <th>Task</th>
        <th>Create At</th>
        <th>Complete</th>
        <th>User_Email</th>
        <th>Action</th>
      </tr>
    <% result.forEach(function(val){ %>
      <tr>
        <td><%= val.id %></td>
        <td><%= val.title %></td>
        <td><%= val.createdAt.toUTCString() %></td>
        <td><%= val.isComplete %></td>
        <td><%= val.User.email %></td>
        <td>
          <form class="" action="/update" method="post">
            <button type="submit" name="action" value="update <%= val.id %>">Update</button>
            <button type="submit" id="delete" name="action" onclick="return confirm('Do You Want To Delete This Todo Item?')" value="delete <%= val.id %>">Delete</button>
          </form>
        </td>
      </tr>
    <% }) %>
    </table>
    <h3>Insert New Todo</h3>
    <form class="" action="/add" method="post">
      <label for="">Title</label>
      <input type="text" name="title" value="">
      <select class="" name="UserId">
        <% data.forEach(function(data){ %>
        <option value=<%= data.id %>><%= data.email %></option>
        <% }) %>
      </select>
      <label for="">Is Complete</label>
      <input type="checkbox" name="complete" value="true">
      <input type="submit" value="Submit">
    </form>
<% include partials/footer %>
